<html lang="en">
<%- include("./partials/header.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">delete</a>
            </div>

            <%- include("./partials/footer.ejs") %>

                <script>
                    const trashcan = document.querySelector('a.delete');
                    //returns the first element that matches a.delete
                    //in our case the little delete button
                    trashcan.addEventListener('click', (e) => {
                        //when u click itm
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;
                        //fetches the id
                        fetch(endpoint, {
                            method: 'DELETE',
                        })
                            .then(response => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    });

                </script>
    </body>

</html>